/*
 * css/page-b.css
 */

.container .page-b {
  background-image: url("http://img.mukewang.com/565d09fa000145a614410901.png");
  z-index: 40;
}


/* boy action */

.walk-stop {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}

.walk-run {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}


/* xmas boy */

.xmas-boy {
  width: 3.5rem;
  height: 4.06rem;
  position: absolute;
  z-index: 5;
  right: -3.5rem;
  top: 4rem;
  background: url(http://img.mukewang.com/565d09870001372152510407.png);
  /* 15 key frame */
  background-size: 1500% 100%;
  background-position: 0% 100%;
}


/* boy walk action */

.boy-walk {
  -webkit-animation: boyWalk .75s steps(4, end) infinite;
  -moz-animation: boyWalk .75s steps(4, end) infinite;
  animation: boyWalk .75s steps(4, end) infinite;
}

@-webkit-keyframes boyWalk {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: -400% 100%;
  }
}

@-moz-keyframes boyWalk {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: -400% 100%;
  }
}

@keyframes boyWalk {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: -400% 100%;
  }
}


/* boy undress action */

.boy-undress-step-1 {
  background-position: -800% 100%;
}

.boy-undress-step-2 {
  background-position: -900% 100%;
}

.boy-undress-step-3 {
  background-position: -1000% 100%;
}


/* boy stand action */

.boy-stand {
  background-position: -400% 100%;
}


/* boy open package */

.boy-unwrap {
  -webkit-animation: boyUnwrap 2s steps(2, end) 1 forwards;
  -moz-animation: boyUnwrap 2s steps(2, end) 1 forwards;
  animation: boyUnwrap 2s steps(2, end) 1 forwards;
}

@-webkit-keyframes boyUnwrap {
  0% {
    background-position: -400% 100%;
  }
  100% {
    background-position: -600% 100%;
  }
}

@-moz-keyframes boyUnwrap {
  0% {
    background-position: -400% 100%;
  }
  100% {
    background-position: -600% 100%;
  }
}

@keyframes boyUnwrap {
  0% {
    background-position: -400% 100%;
  }
  100% {
    background-position: -600% 100%;
  }
}


/* boy hug action */

.boy-hug {
  -webkit-animation: boyHug 1s steps(3, end) 1 forwards;
  -moz-animation: boyHug 1s steps(3, end) 1 forwards;
  animation: boyHug 1s steps(3, end) 1 forwards;
}

@-webkit-keyframes boyHug {
  0% {
    background-position: -1000% 100%;
  }
  100% {
    background-position: -1300% 100%;
  }
}

@-moz-keyframes boyHug {
  0% {
    background-position: -1000% 100%;
  }
  100% {
    background-position: -1300% 100%;
  }
}

@keyframes boyHug {
  0% {
    background-position: -1000% 100%;
  }
  100% {
    background-position: -1300% 100%;
  }
}


/* xmas boy head */

.xmas-boy-head {
  left: 7.85rem;
  top: 4rem;
  width: 3.5rem;
  height: 4.06rem;
  position: absolute;
  z-index: 12;
  background: url(http://img.mukewang.com/565d09870001372152510407.png);
  background-size: 1400% 100%;
  background-position: -1300% 100%;
  display: none;
}


/* girl read */

.girl {
  width: 3.5rem;
  height: 4.06rem;
  position: absolute;
  z-index: 10;
  left: 1rem;
  top: 3.2rem;
  background: url(http://img.mukewang.com/565d09e50001156273510407.png);
  background-size: 2100% 100%;
}


/* girl stand up action */

.girl-stand-up {
  left: 1.2rem;
  -webkit-animation: girlStandUp 200ms steps(3, start) forwards;
  -moz-animation: girlStandUp 200ms steps(3, start) forwards;
  animation: girlStandUp 200ms steps(3, start) forwards;
}

@-webkit-keyframes girlStandUp {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: -300% 100%;
    top: 4rem;
  }
}

@-moz-keyframes girlStandUp {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: -300% 100%;
    top: 4rem;
  }
}

@keyframes girlStandUp {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: -300% 100%;
    top: 4rem;
  }
}


/* girl throw book action */

.girl-throw-book {
  top: 4rem;
  left: .5rem;
  -webkit-animation: girlThrowBook 300ms steps(2, start) forwards;
  -moz-animation: girlThrowBook 300ms steps(2, start) forwards;
  animation: girlThrowBook 300ms steps(2, start) forwards;
}

@-webkit-keyframes girlThrowBook {
  0% {
    background-position: -300% 100%;
  }
  100% {
    background-position: -500% 100%;
  }
}

@-moz-keyframes girlThrowBook {
  0% {
    background-position: -300% 100%;
  }
  100% {
    background-position: -500% 100%;
  }
}

@keyframes girlThrowBook {
  0% {
    background-position: -300% 100%;
  }
  100% {
    background-position: -500% 100%;
  }
}


/* girl walk action */

.girl-walk {
  left: 1rem;
  -webkit-animation: girlWalk 900ms steps(4, start) infinite;
  -moz-animation: girlWalk 900ms steps(4, start) infinite;
  animation: girlWalk 900ms steps(4, start) infinite;
}

@-webkit-keyframes girlWalk {
  0% {
    background-position: -500% 100%;
  }
  100% {
    background-position: -900% 100%;
  }
}

@-moz-keyframes girlWalk {
  0% {
    background-position: -500% 100%;
  }
  100% {
    background-position: -900% 100%;
  }
}

@keyframes girlWalk {
  0% {
    background-position: -500% 100%;
  }
  100% {
    background-position: -900% 100%;
  }
}


/* girl stand action */

.girl-stand {
  top: 4rem;
  background-position: -1000% 100%;
}


/* girl choose action */

.girl-choose {
  -webkit-animation: girlChoose 2000ms steps(2, end) forwards;
  -moz-animation: girlChoose 2000ms steps(2, end) forwards;
  animation: girlChoose 2000ms steps(2, end) forwards;
}

@-webkit-keyframes girlChoose {
  0% {
    background-position: -1000% 100%;
  }
  100% {
    background-position: -1200% 100%;
  }
}

@-moz-keyframes girlChoose {
  0% {
    background-position: -1000% 100%;
  }
  100% {
    background-position: -1200% 100%;
  }
}

@keyframes girlChoose {
  0% {
    background-position: -1000% 100%;
  }
  100% {
    background-position: -1200% 100%;
  }
}


/* girl weep action */

.girl-weep {
  -webkit-animation: girlWeep 450ms steps(4, end) forwards infinite;
  -moz-animation: girlWeep 450ms steps(4, end) forwards infinite;
  animation: girlWeep 450ms steps(4, end) forwards infinite;
}

@-webkit-keyframes girlWeep {
  0% {
    background-position: -1300% 100%;
  }
  100% {
    background-position: -1700% 100%;
  }
}

@-moz-keyframes girlWeep {
  0% {
    background-position: -1300% 100%;
  }
  100% {
    background-position: -1700% 100%;
  }
}

@keyframes girlWeep {
  0% {
    background-position: -1300% 100%;
  }
  100% {
    background-position: -1700% 100%;
  }
}


/* girl hug action */

.girl-hug {
  -webkit-animation: girlHug 450ms steps(3, end) forwards;
  -moz-animation: girlHug 450ms steps(3, end) forwards;
  animation: girlHug 450ms steps(3, end) forwards;
}

@-webkit-keyframes girlHug {
  0% {
    background-position: -1700% 100%;
  }
  100% {
    left: 7.85rem;
    background-position: -2000% 100%;
  }
}

@-moz-keyframes girlHug {
  0% {
    background-position: -1700% 100%;
  }
  100% {
    left: 7.85rem;
    background-position: -2000% 100%;
  }
}

@keyframes girlHug {
  0% {
    background-position: -1700% 100%;
  }
  100% {
    left: 7.85rem;
    background-position: -2000% 100%;
  }
}


/* video */

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
}

@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
}

.bounceOut {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
}
